html {
  font-size: 17px;
}
body {
  width: 50vw;
  align-content: center;
  margin: 2rem 25%;
}

.hide {
  display: none;
}

.like {
  background-image: url("/home/leye/Dropbox/Programming Folder/CodersInHoods/BootcampExercises/47-js-pinterest-simple/img/like_full.png");
  src: url("img/like_full.png");
  alt: "img/like_full.png";
}

.main-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5% 15%;
}

.post_image {
  display: flex;
  height: 100;
}

.symbols {
  display: flex;
  height: 1rem;
  justify-content: flex-end;
}
